
/* YS
 * 20-07-2016
 */

.NFI-wrapper {
    border: dotted #369 1px;
    background: #fff;
    display: block;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 0 0 2px #fff;
    padding: 2px;
}
.NFI-button {
    height: 34px;
    line-height: 34px;
    /*background: #369;*/
    background: #E0E0E0; 
    color: #444;
    width: 30%;
    border-radius: 4px;
    margin-top: 3px
}
.NFI-button:hover {
    background: #F4F4F4;
} 

.NFI-filename {
    display: block;
    width: 70%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
}
.nfi-outerbtn {
    vertical-align: top;
    margin-top:5px;
}

#body-div {
    max-width:750px !important
}
.fixed-bottom {
    position:fixed;
    left:0px;bottom:0px;
    width:100%;height:60px;max-width:750px;
}
.center-absolute {
    position: absolute;
    top: 30%;
    left: 45%;
}
.m-t-30 {margin-top:30px}
.m-t-20 {margin-top:20px}
.m-t-10 {margin-top:10px}
.m-t-5 {margin-top:5px}
.m-l-30 {margin-left:30px}
.m-l-20 {margin-left:20px}
.m-l-10 {margin-left:10px}
.m-30 {margin:30px}
.m-20 {margin:20px}
.m-10 {margin:10px}
.p-t-30 {padding-top:30px}
.p-t-20 {padding-top:20px}
.p-t-10 {padding-top:10px}
.p-t-5 {padding-top:5px}
.p-l-30 {padding-left:30px}
.p-l-20 {padding-left:20px}
.p-l-10 {padding-left:10px}
.p-30 {padding:30px}
.p-20 {padding:20px}
.p-10 {padding:10px}
.p-5 {padding:5px}

.f-xl {font-size:230%}
.f-lg {font-size:150%}
.f-md {font-size:120%}

.w-100 {width:100%}
.w-80 {width:80%}
.w-40 {width:40%}

.text-grey{color:#808080}

.field-selection {cursor: pointer}

.dataTables_empty {text-align: center}
.datatransparent {border-bottom:0px solid #FFF !important;border-left:0px solid #FFF !important;border-right:0px solid #FFF !important;}

.db-footer{
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.db-footer-a {
    background-color:#222d32;font-size:14px;color:rgba(255,255,255,0.8);
    width: 45%;
    text-align: center;
    display: inline-block;
}
.db-footer:hover, .db-footer-a:hover {
    color:#FFF
}

.chv-green-gradient {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00ca6d), color-stop(1, #00ca6d)) !important;
}
.chv-red-gradient {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca0000), color-stop(1, #ca0000)) !important;
}
.chv-yellow-gradient {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFCE56), color-stop(1, #FFCE56)) !important;
}
.btn {
    background-color: #367fa9 !important;
    border-color: #367fa9 !important;
    color: #FFF !important;
}
.btn-green {
    background-color:#00ca6d !important;border-color:#00ca6d !important;font-weight:bold;color:#FFF !important;
}
.btn-yellow {
    background-color:#FFCE56 !important;border-color:#FFCE56 !important;font-weight:bold;color:#FFF !important;
}
.btn-grey {
    background-color:#808080 !important;border-color:#808080 !important;font-weight:bold;color:#FFF !important;
}
.btn-white {
    background-color:#FFFFFF !important;border-color:#FFFFFF !important;font-weight:bold;color:#367fa9 !important;
}
.chv-white-bg {
    background-color:#FFF !important;
}

.chv-outline {
    border: 1px solid #CFCFCF
}
.chv-outline-top {
    border-top: 1px solid #EFEFEF
}
.chv-outline-bottom {
    border-bottom: 1px solid #EFEFEF
}