body {
    padding: 13px;
}
#header #title #usr_name, #loc_id, #security_level {
    text-align: left;
    font-size: 24px;
    color: #007EC1;
    width: 100%;
    margin: auto;
 }

#request, #home {
    text-align: center;
}

 #btnNewAccess, #btnChangeLoc, #btnNewStaff, #btnResignStaff, #btnResetPwd {
     padding: 10px;
     background-color: #004ac0;
     color: white;
     text-align: center;
     font-size: 30px;
     width:80%;
 }

#searchStaff {
    padding: 20px;
    text-align: center;
}

 #searchStaff input,
 #resetPwd input {
     width: 80%;
     text-align: center;
     font-size: 20px;
     height:40px;
 }

 #resetPwd {
     font-size: 20px;
     text-align: center;
 }

#details {
    text-align: center;
    font-size: 20px;
}

 #details #btnAssignAccess, #btnRevokeAccess {
     padding: 10px;
     background-color: #004ac0;
     color: white;
     text-align: center;
     font-size: 20px;
 }

#assignAccess table,
#assignAccess label,
#revokeAccess label {
    font-size: 17px;
}

 #assignAccess #usrInput, #btnSubmit,
 #revokeAccess #usrInput, #btnSubmit {
     width: 90%;
     height: 40px;
     font-size: 20px;
 }

 #assignAccess #grp_id #selected,
 #revokeAccess #grp_id #selected{
     width: 90%;
/*      height: 30px; */
     font-size: 18px;
 }

#locationList #loc_id {
    width: 60%;
}

#newLoc input {
     width: 60%;
     height: 40px;
     font-size: 20px;
}

#setStaff select, input {
    width: 60%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

#home {
    padding: 20px;
    position: relative;
}

#home button{
    width:80%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#warningMsg {
    font-size: 20px;
    padding: 20px;
    width: auto;
}